.logo{
    algin-items: center;
    display: flex;
}
.logo img{
    width: 88px;
    height: 88px;
}



.footer{
    text-align: center;
}

.register{
    float: right !important;
}

.size{
    font-size: 16px;
}
.container{
    padding-top: 10px;
}
.leftContainer{
    width: 400px;
    float: left;
}

.carousel{
    width: 400px;
    float: none;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}
.tabs_news {
    padding-left: 10px;
    width: 460px;
    float: left;
    margin-bottom: 10px;
}
